/* ---------------------------------------------------style utama */
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: Oswald, sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
.border {
  font-family: Oswald, sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  background-color: #ffe162;
}
fieldset {
  border: 2px solid black;
  border-radius: 5px;
}
h3 {
  font-size: 30px;
  text-align: center;
}
.diri {
  background-color: #ffe162;
  line-height: 30px;
}
input[type='submit']:hover {
  background-color: #ffe162;
}
input[type='reset']:hover {
  background-color: #ffe162;
}
input[type='submit'] {
  width: 20%;
  color: black;
  background-color: #eed980;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type='reset'] {
  width: 20%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.title {
  margin: 20px auto 0px auto;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.gallery {
  margin: 70px 0px;
}

.gallery-cell {
  width: 66%;
  margin-right: 10px;
  background: #d3edff;
  height: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.gallery-cell > img {
  width: 100px;
  height: auto;
  margin: 10px 0;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  font-size: 80px;
  color: white;
}

/* style centering object */
.center-object {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

/* ------------------------------------------------style beranda */
.box {
  width: 50%;
  height: 400px;
  background-color: #ffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.wrapper-text {
  text-align: center;
  opacity: 0;
  animation: ani2 0.5s ease-out forwards;
}

.wrapper-text h2 {
  opacity: 0;
  margin: 0px;
  font-size: 20px;
  font-family: Oswald;
}

.wrapper-text h2 {
  animation: ani2 0.75s ease-out 1.5s forwards;
}

@keyframes ani2 {
  100% {
    opacity: 1;
  }
}

.slide {
  width: 10rem;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  #post-desc {
    font-size: 18px;
  }

  .btn1 {
    margin-top: 200px;
  }

  .cover3 {
    width: 40%;
    font-size: 16px;
    margin-top: 30px;
  }
}

/* --------------------------------------style daftar konsultasi */
/* main-konselor */
.main-konselor__body {
  margin: 70px 30px;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
}

/* konselor vertical carousel */
.main-konselor__child {
  background-color: rgba(134, 198, 244, 0.6);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: 10px 0px;
  display: flex;
}

.konselor {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  padding: 20px;
  width: 100%;
}

.konselor > label {
  margin: 0px 10px;
}

.arrow-konselor {
  color: black;
  border: none;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.img-konselor {
  width: 150px;
  height: auto;
}

/* konselor card regist */
.main-konselor__regist {
  width: 70%;
  margin: 0px auto;
}

.main-konselor__regist > h1 {
  text-align: center;
}

.konselor-form {
  background-color: rgba(134, 198, 244, 0.6);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.input-form {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  resize: vertical;
}

/* button regist */
.button-regist > input {
  background: #ffe162;
  padding: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: 20%;
}

.button-regist {
  display: flex;
  justify-content: center;
}

/* hide scrollbar */
/* Hide scrollbar for Chrome, Safari and Opera */
.konselor::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.konselor {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* responsive */
@media screen and (max-width: 800px) {
  .main-konselor__body {
    flex-direction: column;
  }
  .main-konselor__child {
    width: 90%;
    height: 250px;
    flex-direction: row;
  }
  /* form width */
  .main-konselor__regist {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .input-form {
    width: 100%;
  }
  .main-konselor__regist {
    width: 100%;
  }
}

/* type radio */
.konselor [type='radio'] {
  position: absolute;
  opacity: 0;
}

.konselor [type='radio'] + img {
  cursor: pointer;
  margin-right: 0.5rem;
}

.konselor [type='radio']:checked + img {
  outline: 5px solid orange;
}

/* -------------------------------------------style login */
.form-login {
  border-radius: 15px;
  background-color: #bcdff9;
  border: 5px solid white;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 4em 1em 1em 1em;
}

.form-login > input[type='password'] {
  background: #fff;
  border: 1px solid #9c9c9c;
  height: 25px;
  width: 150px;
  margin: 0;
}
.form-login > input[type='text'] {
  margin-bottom: 1%;
  background: #fff;
  border: 1px solid #9c9c9c;
  height: 25px;
  width: 150px;
}

.form-login > button {
  background: #ffe162;
  padding: 0.7em;
  border: 0;
}

.form-login button:hover {
  background: #deb530;
  color: black;
}

.form-login img {
  width: 100px;
  height: 100px;
  line-height: 150px;
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translate(-50%, 40%);
  text-align: center;
}

.login {
  text-align: left;
  display: block;
  padding: 5px;
  float: left;
  width: 200px;
}

.search input[type='text'] {
  float: right;
  border: 1px solid #34495e;
  border-radius: 20px;
  font-size: 13px;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px 10px 10px 35px;
  margin-top: -50px;
  margin-right: 280px;
}

input {
  padding: 2%;
  float: left;
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  float: center;
  width: 150px;
  border-radius: 25px;
  background: #ffe162;
  padding: 0.7em;
  border: 0;
}

h5 {
  font-size: 15px;
  background-color: #fffb9e;
}

.container {
  font-size: 23px;
  background-repeat: no-repeat;
  background-color: #f7f5b9;
  border-radius: 25px;
}
.container:hover {
  background-color: #fffb9e;
}

.wrapper-text {
  text-align: center;
  opacity: 0;
  animation: ani2 0.5s ease-out forwards;
}

.wrapper-text h2 {
  opacity: 0;
  margin: 0;
}

.wrapper-text h2 {
  animation: ani2 0.75s ease-out 1.5s forwards;
}

@keyframes ani2 {
  100% {
    opacity: 1;
  }
}

table {
  margin-bottom: 1%;
}

/* ---------------------------------style ini buat halaman  login*/
#img-form {
  position: absolute;
  top: -140px;
  left: 50%;
}
.image-parent {
  position: relative;
  width: 100%;
}
.logo {
  line-height: 0;
}
.button {
  text-align: center;
}
.button button {
  cursor: pointer;
}

/* ----------------------------style hasil test gaya belajar */
/* Create two equal columns that floats next to each other */
.column1 {
  width: 50%;
  padding: 10px;
  height: auto;
  text-align: center;
}
.column2 {
  margin: 10px 0px;
  height: auto;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-gayabelajar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
}

/* Clear floats after the columns */
.row-gayabelajar:after {
  content: '';
  display: table;
  clear: both;
}

.imgres {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .row {
    margin: 0;
  }
}

/*--------------------------------------- style test-kepribadian */
.form-tes {
  max-width: 100%;
  border: none;
  margin-top: 10px;
}
.container {
  background-color: #fffdc5;
  border-radius: 15px;
}

/* --------------------------------style pendaftaran */
.form-daftar input[type='text'],
input[type='password'],
input[type='date'],
input[type='email'],
select,
textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 20px;
}

.form-daftar input[type='radio'] {
  margin-left: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.form-daftar input[type='submit'] {
  background: #eed980;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
.col-100 {
  float: none;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

.inform {
  background-color: #fffb9e;
}

.copyright {
  background-color: #725b13;
  color: white;
  bottom: 0%;
  text-align: center;
}

.form-daftar {
  border-radius: 15px;
  background-color: #bcdff9;
  border: 5px solid white;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.form-daftar input {
  margin-bottom: 1%;
  background: #fff;
  border: 1px solid #9c9c9c;
}

.form-daftar button {
  background: #ffe162;
  padding: 0.7em;
  border: 0;
  margin-top: 10px;
}

.form-daftar button:hover {
  background: #deb530;
  color: black;
}

.form-daftar label {
  text-align: left;
  display: block;
  padding: 5px;
  float: left;
  width: 200px;
}

.form-daftar input {
  padding: 2%;
  float: left;
}

.form-daftar select {
  padding: 2%;
  float: left;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.form-daftar .img-form {
  position: absolute;
  top: -120px;
  left: 40%;
}
.form-daftar .image-parent {
  position: relative;
  width: 100%;
}
.form-daftar .logo {
  line-height: 0;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .col-25,
  .col-75,
  .form-daftar input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
  form {
    max-width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .col-25,
  .col-75 {
    float: none;
    width: 100%;
  }

  .form-daftar {
    width: 100%;
  }
}

/* -------------------------------------------style layanan */
/* body layanan */
.body-layanan {
  margin: 30px 0px;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
}

.body-layanan-card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* link-card */
.link-card {
  width: 40%;
  color: black;
  margin: 10px 10px;
  font-size: 17px;
}

/* box layanan */
.box-layanan {
  /* border: 2px solid black; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.box-layanan:hover {
  background-color: #ffe162;
}

/* responsive this page */
@media screen and (max-width: 768px) {
  .body-layanan {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .body-layanan-card {
    flex-direction: column;
  }
  .link-card {
    width: 100%;
  }
  .link-card {
    margin: 10px 0px;
  }
}
