* {
  box-sizing: border-box;
}

input[type=text],input[type=password],input[type=date],input[type=email], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left:20px;
}

input[type=radio]{
	margin-left:20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
	background: #EED980;
	padding: 12px 20px;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
.col-100 {
  float: none;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  width:100%;
}



body {
    margin: 0;
    padding: 0;
	font-style: normal;
	background-color: #DEB530;
   }

.inform{
	background-color: #FFFB9E;
}

.copyright{
	background-color: #725B13;
	color: white;
	bottom: 0%;
	text-align: center;
}

form {
	border-radius: 15px;
	background-color: #BCDFF9;
	border: 5px solid white;
	margin-top: 100px;
  margin-bottom:50px;
	width: 47%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

form input {
	margin-bottom: 1%;
	background: #fff;
	border: 1px solid #9c9c9c;
}

form button {
	background: #FFE162;
	padding: 0.7em;
	border: 0;
	margin-top:10px;
}

form button:hover {
	background: #DEB530;
	color: black;
}

label {
	text-align: left;
	display: block;
	padding: 5px;
	float: left;
    width: 200px;
}

input {
	padding: 2%;
	float: left;
}

select {
	padding: 2%;
	float: left;
	font-size: 15px;
	margin-bottom: 0.5rem;
}

  .img-form{
	position: absolute;
	top: -120px;
	left:40%;
  }
  .image-parent{
	position:relative;
	width:100%;
  }
  .logo{
    line-height:0;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  form{
	  max-width:100%;
  }
}
@media screen and (max-width: 425px) {
  .col-25, .col-75{float:none;width:100%;}

  form{
	  width:100%;
  }
}